body {
    background-color: #212529;
    color: white;
}

#topPanel {
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: center;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 65px;
    background-color: #702CF6;
    clear: both;
    display: flex;


}

.smallLogo {
    display: flex;
    align-items: center;
}

#underWebPages {

    font-family: Segoe UI;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.informations {
    margin-left: 15px;
}

.education {
    margin-left: 15px;
}

.contact {
    margin-left: 15px;

}

#icons {
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 700px;

}

a {
    color: white;
}

.icon-github-circled {
    margin-right: 10px;

}

.icon-linkedin-squared {
    margin-right: 10px;
}

.icon-facebook-squared {
    margin-right: 15px;
    margin-top: 3px;
}

.icon-mail-alt {
    margin-right: 15px;
    margin-left: 15px;
}

.icon-moon {
    margin-left: 15px;
    margin-top: 3px;
}

#verticalSmallLine {

    height: 35px;
    border-right: 1px solid #9362F6;
}

#top_Container {

    margin-left: -8px;
    margin-right: -8px;
    padding-top: 1px;

    background-image: linear-gradient(to bottom, #184484, #3C2C44, #212529);
    background-image: linear-gradient(to right, rgba(255, 247, 0, 0.3));

    filter: blur(8px);
    filter: saturate(70%);
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo {
    clear: both;
    overflow: auto;
    margin-bottom: 10px;
    margin-top: 100px;
}

.mainText {
    margin-top: 10px;
    font-size: 75px;
    font-family: Consolas;
    clear: both;
}

.underMainText {
    margin-top: 25px;
    color: #b6b6b6;
    font-size: 19px;
    font-family: Segoe UI;
}

#skills-Container {
    margin-top: 10px;
    font-size: 75px;

    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.qr_Code_GitHub {

    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.main_Text_Skills {
    clear: both;
    display: flex;
    justify-content: center;
    font-family: Consolas;
    font-size: 50px;
    margin-top: 30px;
}

#skills_images {

    clear: both;
    display: flex;
    justify-content: center;
    margin-top: 50px;


}

.column {
    margin-left: 150px;
    margin-right: 150px;
}

.html {
    margin-bottom: 80px;
}

.css {
    margin-bottom: 80px;
}

.php {
    margin-bottom: 80px;
}

.c_sharp {
    margin-bottom: 80px;
}

.mikroTik {
    margin-bottom: 80px;
}

.cisco {
    margin-bottom: 80px;
}

.git {
    margin-bottom: 80px;
}

.Linux {
    margin-bottom: 80px;
}

.mySql {
    margin-bottom: 80px;
}


#skills_Text_Html_Informations_Left_Site {

    
    font-size: 20px;
    
    

}


#footer {

    background-color: #2B3035;
    color: #FFFFFF;
    height: 50px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI;
}

.only_Picture {
    margin-right: 10px;
}

.first_word {
    font-size: 20px;
}

.in_Footer {
    color: #b6b6b6;
    margin-left: 20px;
    float: left;
}

.email {
    margin-left: 20px;
    float: left;
}

.phone {
    margin-left: 20px;
    float: left;
}